In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
df.info

<bound method DataFrame.info of                method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]>

In [4]:
df.describe

<bound method NDFrame.describe of                method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]>

#Question 1: Go through each row of the dataframe and delete it(Drop) if any of the columns is null.

In [6]:
# Method 1
import pandas as pd
for row in df.index:
  for column in df.columns:
    if pd.isnull(df.loc[row, column]):
      df.drop(row, inplace=True)
      break

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 784
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          498 non-null    object
 1   number          498 non-null    int64
 2   orbital_period  498 non-null    float64
 3   mass            498 non-null    float64
 4   distance        498 non-null    float64
 5   year            498 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.2+ KB

In [9]:
df = sns.load_dataset("planets")

In [10]:
#method 2
for i, r in df.iterrows():
  if pd.isnull(r).any():
    df.drop(i, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 784
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          498 non-null    object
 1   number          498 non-null    int64
 2   orbital_period  498 non-null    float64
 3   mass            498 non-null    float64
 4   distance        498 non-null    float64
 5   year            498 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.2+ KB

In [12]:
# Method 3
df = sns.load_dataset("planets")

df.dropna(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 784
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          498 non-null    object
 1   number          498 non-null    int64
 2   orbital_period  498 non-null    float64
 3   mass            498 non-null    float64
 4   distance        498 non-null    float64
 5   year            498 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.2+ KB

## Question 2: Filter and show only those rows which have planets that are found in the 2010's and afterwards and method is Radial Velocity or Transit.

In [14]:
df_ = df.copy()

In [15]:
# Query the DataFrame
df_ = df_[
          (df_['year'] >= 2010) &
          ((df_['method'] == 'Radial Velocity') | 
          (df_['method'] == 'Transit'))
]

In [16]:
df_['year'].unique()

array([2011, 2010, 2013, 2012, 2014])

In [17]:
df_['method'].unique()

array(['Radial Velocity', 'Transit'], dtype=object)

In [18]:
df_.head()

             method  number  orbital_period  mass  distance  year
2   Radial Velocity       1           763.0  2.60     19.84  2011
9   Radial Velocity       2           452.8  1.99     74.79  2010
10  Radial Velocity       2           883.0  0.86     74.79  2010
28  Radial Velocity       1           181.4  3.20     45.52  2013
45  Radial Velocity       1           380.8  1.80     20.21  2010